{% extends 'base/main.html' %}
{% block content %}
 <meta name="google-signin-client_id" content="106550122016-16oee6s1pa9o8tu8s2s3gg4neb17s2o5.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js"> asyncdefer</script>
    <style></style>
<div class="header-bar">
    <h1>Login</h1>
</div>

<div class="card-body">
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input class="button" type="submit" value="Login">
    </form>
    <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
</div>

    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <script> function onSignIn(googleUser) {
      var profile = googleUser.getBasicProfile()
      console.log('User is' + JSON.stringify(profile))

      var element = document.querySelector('#content')
      element.innerText = profile.getName();

      var image = document.createElement('img')
      image.setAttribute('src', profile.getImageUrl())
      element.append(image)
    }

    function signOut(){
      gapi.auth2.getAuthInstance().signOut().then(function(){
        console.log('user signed out')
      })
    }
    </script>






{% endblock content %}